
.menu-card-container{
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width:300px;
    height: 300px;
    padding: 25px;
    background-color: antiquewhite;
    margin: 0 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card h1{
    text-align: center;
    padding: 25px 0;
}
.text-info-container{
    margin: 25px ;
    padding: 15px;
    color: white;
    border: 2px solid red ;
    background-image:url(../../Images/pexels-pixabay-260024.jpg) ;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.05);  
}
.smily-emoji{
    width: 60%;
}
.thankyou-card{
    width:300px;
    height: 300px;
    padding: 25px;
    text-align: center;
    background-color: antiquewhite;
    margin: 0 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}