.streamer-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
}
.streamer-card{
    width: 350px;
    height: 350px;
    overflow:visible;
    padding: 15px;
    background-color: rgba(206, 177, 139, 0.8);
    margin: 0 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0);  
    transition:transform 0.25 ;  
    overflow: hidden;
  text-overflow: ellipsis;  
}
.streamer-card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        transform: scale(1.05);  
}
.player-avatar{
    width: 50px;
    height: 50px;
}
.url-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .streamer-card h2{
    max-width: 200px;
} */