.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    color: white;
    margin-left:125px ;
}
.grid div{
    display: flex;
}
.username:hover{
color: rgb(81, 81, 191);
}