.leader-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
}
.leader-card{
    height: inherit;
    padding: 15px;
    background-color: rgba(232, 193, 143,0.8);
    margin: 0 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0);  
    transition:transform 0.25 ease-out;    
}
.leader-card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        transform: scale(1.05);  
}