.navbar{
    display: flex;
    background-color: rgb(37,37,67);
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
    padding: 10px;
}
.nav-options{
    display: flex;
}
.nav-options p {
    padding:10px ;
}