.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-card{
    width: 60%;
    background-color: aliceblue;
    padding: 30px;
    display: flex;
}
.img-container{
    width: 50%;
    height: 100%;
    padding: 20px;


}
.img-container img{
    width: 100%;
    border-radius: 10px;
}
.player-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-details h2
{
padding: 20px 10px;
}