*{
  margin: 0;
  padding: 0;
}
.app{
  background-image: url(./Images/WallpaperDog-20446782.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./Images/WallpaperDog-20446782.jpg);
  min-height: 100vh;
}